[
  (
    entity: 0,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (20.0, 0.0, 0.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (20.0, 0.0, 0.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "mirror",
          },
          "emission": {
            "type": "f32",
            "value": 1.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (0.0, 1.0, 0.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, -0.65142053, 0.0, -0.7587181),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.3823346, 1.3823346, 1.3823346),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (0.0, 1.0, 0.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, -0.65142053, 0.0, -0.7587181),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.3823346, 1.3823346, 1.3823346),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "ring",
          },
          "emission": {
            "type": "f32",
            "value": 1.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
    ],
  ),
  (
    entity: 2,
    components: [
      {
        "type": "bevy_transform::components::parent::PreviousParent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 3,
          },
        ],
      },
      {
        "type": "bevy_transform::components::parent::Parent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 3,
          },
        ],
      },
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (0.0, 0.0, 0.4),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (0.1, 0.1, 0.1),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-11.155142, 3.5975368, 13.266297),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (-0.04571363, -0.24165337, -0.011397701, 0.96921825),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (0.1, 0.1, 0.1),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "smiley_box",
          },
          "emission": {
            "type": "f32",
            "value": 1.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
    ],
  ),
  (
    entity: 3,
    components: [
      {
        "type": "bevy_transform::components::children::Children",
        "tuple_struct": [
          {
            "type": "smallvec::SmallVec<[bevy_ecs::entity::Entity; 8]>",
            "list": [
              {
                "type": "bevy_ecs::entity::Entity",
                "value": 2,
              },
            ],
          },
        ],
      },
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-10.968186, 3.5598881, 12.914686),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (-0.04571363, -0.24165337, -0.011397701, 0.96921825),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-10.968186, 3.5598881, 12.914686),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (-0.04571363, -0.24165337, -0.011397701, 0.96921825),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::camera::EnvironmentSettings",
        "struct": {
          "sun_theta_phi": {
            "type": "(f32, f32)",
            "tuple": [
              {
                "type": "f32",
                "value": 89.16007,
              },
              {
                "type": "f32",
                "value": 1.5449984,
              },
            ],
          },
        },
      },
      {
        "type": "bevy_kajiya_render::camera::KajiyaCamera",
        "struct": {
          "vertical_fov": {
            "type": "f32",
            "value": 52.0,
          },
          "near_plane_distance": {
            "type": "f32",
            "value": 0.01,
          },
          "aspect_ratio": {
            "type": "f32",
            "value": 1.7777778,
          },
        },
      },
    ],
  ),
  (
    entity: 4,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-0.021435738, 1.9075437, -0.40251696),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-0.021435738, 1.9075437, -0.40251696),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "floor",
          },
          "emission": {
            "type": "f32",
            "value": 10.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
  (
    entity: 5,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-5.0, -0.001, -12.03569),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-5.0, -0.001, -12.03569),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "ring",
          },
          "emission": {
            "type": "f32",
            "value": 0.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
  (
    entity: 6,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-5.0, 10.0, -5.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-5.0, 10.0, -5.0),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "ring",
          },
          "emission": {
            "type": "f32",
            "value": 1.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
  (
    entity: 12,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.0507092, 1.4311895, -33.939686),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 1.0, 0.0, -0.00000004371139),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.0507092, 1.4311895, -33.939686),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 1.0, 0.0, -0.00000004371139),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "mark_vi",
          },
          "emission": {
            "type": "f32",
            "value": 95.6,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
  (
    entity: 8,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.0365784, 1.4768186, -8.056154),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.0365784, 1.4768186, -8.056154),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "mark_vi_car",
          },
          "emission": {
            "type": "f32",
            "value": 1.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
  (
    entity: 9,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.1142483, 1.4762659, 1.2726889),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.1142483, 1.4762659, 1.2726889),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "mark_vi",
          },
          "emission": {
            "type": "f32",
            "value": 100.3,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
  (
    entity: 10,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.0507092, 1.4311895, -16.394852),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.0507092, 1.4311895, -16.394852),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "mark_vi_car",
          },
          "emission": {
            "type": "f32",
            "value": 1.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
  (
    entity: 11,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.0507092, 1.4311895, -24.710482),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (-2.0507092, 1.4311895, -24.710482),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (1.0, 1.0, 1.0),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "mark_vi_car",
          },
          "emission": {
            "type": "f32",
            "value": 1.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
  (
    entity: 7,
    components: [
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (3.418416, 1.5090135, -1.1273937),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (0.018754672, 0.018754672, 0.018754672),
          },
        },
      },
      {
        "type": "bevy_transform::components::global_transform::GlobalTransform",
        "struct": {
          "translation": {
            "type": "glam::vec3::Vec3",
            "value": (3.418416, 1.5090135, -1.1273937),
          },
          "rotation": {
            "type": "glam::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::vec3::Vec3",
            "value": (0.018754672, 0.018754672, 0.018754672),
          },
        },
      },
      {
        "type": "bevy_kajiya_render::mesh::KajiyaMeshInstance",
        "struct": {
          "mesh": {
            "type": "alloc::string::String",
            "value": "336_lrm",
          },
          "emission": {
            "type": "f32",
            "value": 1.0,
          },
          "selection_bb_size": {
            "type": "f32",
            "value": 100.0,
          },
        },
      },
      {
        "type": "concord_editor::raycast::SelectableTag",
        "struct": {},
      },
    ],
  ),
]